<ListView
        [items]="challenges"
        (itemTap)="onItemTap($event)"
>
    <ng-template let-challenge="item" let-i="index">
        <GridLayout rows="40,20" columns="50,*">
            <Label
                    [text]="i"
                    row="0"
                    col="0"
                    rowSpan="2"
            ></Label>
            <Label
                    [text]="challenge"
                    row="0"
                    col="1"
            ></Label>
            <Label
                    text="Item content row 2"
                    row="1"
                    col="1"
            ></Label>
        </GridLayout>
    </ng-template>
</ListView>
