<ActionBar
        [title]="title"
        (loaded)="onLoadedActionBar()"
>
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="left">
        <Image src="res://menu_black" class="action-image"></Image>
        <Label text="ativeScript"  class="action-label"></Label>
    </StackLayout>
<!--    <NavigationButton
            text="Back"
            android.systemIcon="ic_menu_back"
            *ngIf="canGoBack"
            (tap)="onGoBack()"
    ></NavigationButton>-->
    <NavigationButton
            *ngIf="android"
            icon="res://menu_black"
            (tap)="onToggleMenu()"
    ></NavigationButton>
    <ActionItem
            (tap)="onToggleMenu()"
            *ngIf="!android"
            ios.position="left"
    >
        <Label text="MENU"></Label>
    </ActionItem>
</ActionBar>
